@using LibraryManagementSystem.Web.ViewModels
@model IEnumerable<BorrowingBookViewModel>
@{
    ViewData["Title"] = "Borrowing Service";
}
<h1 class="text-md-center">Books Status</h1>

<div class="row mb-3">
    <div class="col-md-3">
        <a class="btn btn-lg btn-primary bi bi-plus-circle-fill" asp-controller="Borrowing" asp-action="Create"> Borrow A Book </a>
    </div>
    <div class="col-md-9">
        <form asp-controller="Borrowing" asp-action="Index" method="get" class="row g-2 mb-3 align-items-end">
            <div class="col-md-2">
                <label for="status" class="form-label">Status</label>
                <select name="status" class="form-select">
                    <option value="">All</option>
                    <option value="0">Available</option>
                    <option value="1">Borrowed</option>
                </select>
            </div>

            <div class="col-md-2">
                <label for="borrowDate" class="form-label">Borrowed Date</label>
                <input type="date" name="borrowDate" class="form-control" />
            </div>

            <div class="col-md-2">
                <label for="returnDate" class="form-label">Returned Date</label>
                <input type="date" name="returnDate" class="form-control" />
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100">Filter</button>
            </div>
        </form>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="table-primary">Book Title</th>
            <th scope="col" class="table-primary">Status</th>
            <th scope="col" class="table-primary">Borrowed Date</th>
            <th scope="col" class="table-primary">Returned Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr scope="row">
                <td>@book.Title</td>
                <td>@book.Status.ToString()</td>
                <td>@(book.BorrowedDate?.ToString("yyyy-MM-dd") ?? "")</td>
                <td>@(book.ReturnedDate?.ToString("yyyy-MM-dd") ?? "")</td>
            </tr>
        }
    </tbody>
</table>
<div class="d-grid gap-2 justify-content-md-end">
    <a class="btn btn-lg btn-success mb-3 bi bi-plus-circle-fill " type="button" asp-area="" asp-controller="Borrowing" asp-action="Return"> Return A Book </a>
</div>
