@using LibraryManagementSystem.Web.ViewModels
@model PaginatedAuthorViewModel
@{
    ViewData["Title"] = "Authors";
}
<h1 class="text-md-center">Authors</h1>

<div class="d-grid gap-2 justify-content-md-start">
    <a class="btn btn-lg btn-primary mb-3 bi bi-plus-circle-fill " type="button" asp-area="" asp-controller="Author" asp-action="Create"> Add New Author </a>
</div>
@Html.Partial("_AuthorsListView.cshtml", Model)
@{
    if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-dismissible alert-danger alert-custom">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>@TempData["AlertMessage"]</strong>
        </div>
    }
}
